.dropdown-container{
    background: '#6db65b';
    border: '2px solid #008f68';
    margin-top: 10;
    padding: '10px 20px';
    overflow-y:scroll;
    max-height: 75px;
}



@media only screen and (max-height: 500px) {
    .dropdown-container {
        overflow-y:scroll;
        max-height:75px;
    }
  }

.dropdown{
    background-color: white;
    color: rgb(206, 206, 206);
    border-width: 1px;
    border-right: solid;
}