.dropdown-container{
    display: flex;
    padding: 5px;
    justify-content: space-between;
    background-color: rgba(240, 240, 240, 0.1);
}



@media only screen and (max-height: 500px) {
    .dropdown-container {
        
        
    }
  }

.dropdown{
    background-color: rgb(0,0,0, .4);
    overflow-y: none;
}

.pad{
    padding: 5px;
}

.accordion-section{
    padding-top: 10px;
}

.accordion{
    padding-top: 20px;
}